@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: #1a191d;
	color: #9b9b9b;
	font-size: 18px;
	scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #504f4f;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #e64054;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	opacity: 0.5;
}
